:root {
  --bg: #f3f3f3;
  --primary: #1f2a44;
  --accent: #d97706;
  --text: #333;
  --muted: #777;
  --card: #fff;
  --radius: 14px;
  --shadow: 0 6px 18px rgba(0,0,0,0.08);

  --space-1: 0.8rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  color: var(--text);
  display: flex;
  justify-content: center;
  padding: var(--space-1)
}

.btn {
  background: var(--accent);
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 11px;
  padding: 6px 10px;
  cursor: pointer;
  margin-top: auto;
  display: inline-block;

}

.phone {
  width: 100%;
  min-height: 100dvh;
  background: var(--bg);
  padding: var(--space-1);
}

a {
  text-decoration: none;
  color: #fff;
}

/* Desktop: simula celular */
@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .phone .bottom-nav {
    width: 390px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }


}



